<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/img/barangay-logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title><%= title %></title>
    <style>
      body {
        overflow: hidden;
      }
      .sign-up {
        color: white;
        background-color: hsl(210, 100%, 7%);
        text-decoration: none;
        padding: 1rem 2rem;
        display: block;
        width: max-content;
        letter-spacing: 1px;
        border-radius: 50px;
        transition: background-color 0.25s ease-in-out;
      }
      .sign-up:hover {
        background-color: hsl(210, 100%, 16%);
      }
      .fade::before,
      .fade::after {
        animation: none;
        opacity: 0;
        transition: opacity 0.5s ease-out;
      }

      .fade::before {
        transition-delay: 0.3s;
      }

      .loader-bg.fade {
        z-index: -9999;
        opacity: 0;
        transition: opacity 0.5s ease-out, z-index 0.5s ease-out;
      }

      .loader-bg {
        position: fixed;
        z-index: 9999;
        background-color: #001122;
        width: 100%;
        height: 100%;
      }
      .loader {
        border: 0 solid transparent;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .loader::before,
      .loader::after {
        content: "";
        border: 1em solid #fff;
        border-radius: 50%;
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        animation: loader 2s linear infinite;
        opacity: 0;
      }
      .loader::before {
        animation-delay: 0.5s;
      }

      @keyframes loader {
        0% {
          transform: scale(0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }
    </style>
  </head>
  <body>
    <%- include('./partials/navbar') %> <%- include('./partials/error') %> <%-
    include('./partials/success') %>

    <main>
      <section>
        <h1>Barangay Mag-Asawang Sapa Household Census</h1>
      </section>
      <section>
        <div>
          <h2>
            Resident Record Management
            <!-- and Certificate Issuance -->
            System
          </h2>
          <p>
            Fast and up-to-date census record of residents. Say goodbye to
            manual and hassle way of managing records.
          </p>
        </div>
        <div>
          <img src="/img/town.svg" alt="" />
        </div>
      </section>

      <section>
        <div>
          <img src="/img/data.svg" alt="" />
        </div>
        <div>
          <h2>Barangay Mag-Asawang Sapa</h2>
          <p>
            If you are a resident of Barangay Mag-Asawang Sapa, sign-up now and
            fill up questions about your household's personal information for
            census straight from your browser.
          </p>
          <a href="/register" class="sign-up">Sign Up Now</a>
        </div>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
    <div class="loader-bg">
      <div class="loader"></div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var loaderBg = document.querySelector(".loader-bg");

        // Add "fade" class to loader element after 2 seconds
        setTimeout(function () {
          loaderBg.classList.add("fade");
          document.body.style.overflow = "auto";
        }, 2000);
      });
    </script>
  </body>
</html>
